<div class="contact-details row">
    <img class="edit-image" src="assets/images/edit.png" alt="" (click)="startEditing()">
    <img class="delete-image" src="assets/images/delete.svg" alt="" (click)="deleteContact()">
    <div class="col-6 row">
        <span class="col-2">Name</span>
        <span class="col-4">{{data.firstName + ' ' + data.lastName}}</span>
    </div>
    <div class="col-6 row">
        <span class="col-2">Phone No.</span>
        <span class="col-4">{{data.phoneNumber}}</span>
    </div>
    <div class="col-6 row">
        <span class="col-2">Email</span>
        <span class="col-4">{{data.email}}</span>
    </div>
    <div class="col-6 row">
        <span class="col-2">Status</span>
        <span class="col-4 {{data.status.toLowerCase()}}">{{data.status}}</span>
    </div>
</div>